results
*.ipynb_checkpoints
keys.json
models
notebooks/outputs
notebooks/media


data/*
!data/tqa_train_val_test/
data/tqa_train_val_test/*
!data/tqa_train_val_test/train/
data/tqa_train_val_test/train/*
!data/tqa_train_val_test/train/mindmap_text/
!data/tqa_train_val_test/train/svg/
!data/tqa_train_val_test/train/textbook_images_llava_captions
!data/tqa_train_val_test/train/teaching_images_llava_captions
!data/tqa_train_val_test/test/
data/tqa_train_val_test/test/*
!data/tqa_train_val_test/test/mindmap_text/
!data/tqa_train_val_test/test/svg/
!data/tqa_train_val_test/test/textbook_images_llava_captions
!data/tqa_train_val_test/test/teaching_images_llava_captions
!data/tqa_train_val_test/test/test_predictions

*Zone.Identifier
