results
*.ipynb_checkpoints
keys.json
models

data/*
!data/tqa_train_val_test/
data/tqa_train_val_test/*
!data/tqa_train_val_test/train/
data/tqa_train_val_test/train/*
!data/tqa_train_val_test/train/mindmap_text/
!data/tqa_train_val_test/train/svg/
!data/tqa_train_val_test/test/
data/tqa_train_val_test/test/*
!data/tqa_train_val_test/test/mindmap_text/
!data/tqa_train_val_test/test/svg/
