results
*.ipynb_checkpoints
keys.json
notebooks/outputs*
notebooks/media


data/*
!data/tqa_train_val_test/
data/tqa_train_val_test/*
!data/tqa_train_val_test/train/
data/tqa_train_val_test/train/*
!data/tqa_train_val_test/train/mindmap_text_v1/
!data/tqa_train_val_test/train/mindmap_text_v2/
!data/tqa_train_val_test/train/svg_v1/
!data/tqa_train_val_test/train/svg_v2/
!data/tqa_train_val_test/train/textbook_images_llava_captions
!data/tqa_train_val_test/train/teaching_images_llava_captions
!data/tqa_train_val_test/train/pairwise_evaluations.json


!data/tqa_train_val_test/test/
data/tqa_train_val_test/test/*
!data/tqa_train_val_test/test/mindmap_text_v1/
!data/tqa_train_val_test/test/mindmap_text_v2/
!data/tqa_train_val_test/test/svg_v1/
!data/tqa_train_val_test/test/svg_v2/
!data/tqa_train_val_test/test/textbook_images_llava_captions
!data/tqa_train_val_test/test/teaching_images_llava_captions
!data/tqa_train_val_test/test/test_predictions
!data/tqa_train_val_test/test/test_predictions_rlhf
!data/tqa_train_val_test/test/pairwise_evaluations.json
!data/tqa_train_val_test/test/llm_judge_evaluation_results_4o.json
!data/tqa_train_val_test/test/llm_judge_evaluation_results_rlhf_4o.json
!data/tqa_train_val_test/test/llm_judge_evaluation_results_rlhf.json
!data/tqa_train_val_test/test/llm_judge_evaluation_results.json

src/media*
src/outputs*
src/final_animation_video.mp4
src/mermaid_output.svg

*Zone.Identifier

*__pycache__
*.gradio
